<?php

/**
 * Database configuration.
 */
define("DB_HOST", "127.0.0.1");
define("DB_PORT", "9999");
define("DB_NAME", "bot_telegram_s5");
define("DB_USER", "std_hd_master_b581743600");
define("DB_PASS", "nullptrD*^^^^_rd_config_aaa881");

/**
 * Bot token.
 */
define("BOT_TOKEN", "324526789:AAD_goUUodV-BmyYj_a1WQQM6q2nnr1fqza010p");

define("SUDOERS", 
	[
		243692601, // @ammarfaizi2
	]
);
