<?php

/**
 * Database configuration.
 */
define("DB_HOST", "127.0.0.1");
define("DB_PORT", "3306");
define("DB_USER", "root");
define("DB_PASS", "i_am_root_password");

/**
 * Bot token.
 */
define("BOT_TOKEN", "324526789:AAD_goUUodV-BmyYj_a1WQQM6q2nnr1fqza010p");

define("PUBLIC_PATH", BASEPATH."/public");
define("STORAGE_PATH", BASEPATH."/storage");
define("LOG_PATH", BASEPATH."/logs/telegram");
define("PUBLIC_BASEURL", "https://icetea.teainside.org");

define("SUDOERS", 
	[
		243692601, // @ammarfaizi2
	]
);
